.appContainer {
    display: flex;
    justify-content: center;
}

.appWrapper {
    width: 100%;
    max-width: 96rem;
    overflow: hidden;
    position: relative;
    transition: height 250ms ease-in-out;
}

.seeMoreButtonContainer {
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.seeMoreButtonWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: white;
}

.seeMoreSeeLessButton {
    color: white;
    font-weight: bold;
    font-size: 0.75rem;
    background-color: #ee2d25;
    border: none;
    border-radius: 0.25rem;
    padding: 0 1rem 0 1rem;
    cursor: pointer;
}

.infoTopic {
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.postGrid {
    justify-items: center;
}

.postLink {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
}

.postLink:hover .postTitle::after {
    inset: 0 -1rem 0 -1rem;
}

.postLink:hover .postTitle {
    text-shadow: 0.05rem 0.05rem 0 black;
}

.postCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    max-width: 15rem;
}

/* Desktop Rules - LM */
@media (min-width: 1026px) {
    .postCard {
        width: 18vw;
    }
}

/* Mobile Rules - LM */
@media (max-width: 1025px) {
    .postCard {
        width: 40vw;
    }
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 0.5rem;
    background-size: cover;
    background-position: center;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    width: 90%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.45);
}

.postTitle {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 85%;
    text-align: center;
    margin: 0;
    padding: 0.25rem;
}

.postTitle::after {
    content: "";
    position: absolute;
    background-color: #ee2d25;
    inset: 0 100% 0 100%;
    z-index: -1;

    transition-property: inset;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
}

.toolTip {
    display: none;
    font-size: 0.9rem;
    text-align: center;
    position: absolute;
    inset: 0.25rem 1.25rem 1.25rem 1.25rem;
    z-index: 2;
    background-color: black;
    color: white;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transform: translate(0, 50%);
}

.postImage {
    height: 3rem;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    border-radius: 0.25rem;
    border: 1px solid #d1d1d1;
}

.centerRow {
    display: flex;
    justify-content: center;
}

.centerCol {
    display: flex;
    flex-direction: column;
    align-items: center;
}